.messages,
.messages-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 360px;
  height: 799px;
}
.messages {
  background-color: var(--white);
  height: 800px;
  overflow: hidden;
}
.messages-parent {
  position: relative;
  width: 100%;
  height: 800px;
}
