.group-icon,
.group-icon1 {
  position: absolute;
  height: 11.5%;
  width: 9.22%;
  top: 88.17%;
  right: 45.16%;
  bottom: 0.33%;
  left: 45.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon1 {
  right: 54.59%;
  left: 36.19%;
}
.b-190-icon,
.vector-icon83,
.vector-icon84,
.vector-icon85,
.vector-icon86 {
  position: absolute;
  height: 48.23%;
  width: 20.06%;
  top: 44.73%;
  right: 48.16%;
  bottom: 7.03%;
  left: 31.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b-190-icon,
.vector-icon84,
.vector-icon85,
.vector-icon86 {
  height: 33.03%;
  width: 20.22%;
  top: 14.1%;
  right: 46.81%;
  bottom: 52.87%;
  left: 32.97%;
}
.b-190-icon,
.vector-icon85,
.vector-icon86 {
  height: 11.5%;
  width: 11.09%;
  top: 2%;
  right: 49.88%;
  bottom: 86.5%;
  left: 39.03%;
}
.b-190-icon,
.vector-icon86 {
  height: 13.03%;
  width: 12.84%;
  top: 0;
  right: 49.22%;
  bottom: 86.97%;
  left: 37.94%;
}
.b-190-icon {
  height: 9.17%;
  width: 12.66%;
  top: 36.03%;
  right: 43%;
  bottom: 54.8%;
  left: 44.34%;
}
.group-icon2,
.group-icon3,
.vector-icon87,
.vector-icon88,
.vector-icon89 {
  position: absolute;
  height: 22.83%;
  width: 9%;
  top: 19.93%;
  right: 41.28%;
  bottom: 57.23%;
  left: 49.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon2,
.group-icon3,
.vector-icon88,
.vector-icon89 {
  height: 5.4%;
  width: 2.97%;
  top: 33.23%;
  right: 45.03%;
  bottom: 61.37%;
  left: 52%;
}
.group-icon2,
.group-icon3,
.vector-icon89 {
  height: 47%;
  width: 27.53%;
  top: 18.2%;
  right: 6.56%;
  bottom: 34.8%;
  left: 65.91%;
}
.group-icon3,
.vector-icon89 {
  height: 43.77%;
  top: 22.27%;
  right: 67.75%;
  bottom: 33.97%;
  left: 4.72%;
}
.vector-icon89 {
  top: 21.77%;
  right: 31%;
  bottom: 34.47%;
  left: 41.47%;
}
.vector-icon90,
.vector-icon91,
.vector-icon92,
.vector-icon93,
.vector-icon94 {
  position: absolute;
  height: 3.1%;
  width: 3.53%;
  top: 27.87%;
  right: 46.78%;
  bottom: 69.03%;
  left: 49.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon91,
.vector-icon92,
.vector-icon93,
.vector-icon94 {
  height: 7.23%;
  width: 4.81%;
  top: 35.73%;
  right: 49.25%;
  bottom: 57.03%;
  left: 45.94%;
}
.vector-icon92,
.vector-icon93,
.vector-icon94 {
  height: 6.57%;
  width: 1.75%;
  top: 48.03%;
  right: 45.28%;
  bottom: 45.4%;
  left: 52.97%;
}
.vector-icon93,
.vector-icon94 {
  height: 6.8%;
  width: 1.78%;
  top: 48.6%;
  right: 53.97%;
  bottom: 44.6%;
  left: 44.25%;
}
.vector-icon94 {
  height: 10%;
  width: 5.03%;
  top: 55.13%;
  right: 31.06%;
  bottom: 34.87%;
  left: 63.91%;
}
.vector-icon95,
.vector-icon96,
.vector-icon97,
.vector-icon98,
.vector-icon99 {
  position: absolute;
  height: 0.77%;
  width: 6.97%;
  top: 63.9%;
  right: 32.91%;
  bottom: 35.33%;
  left: 60.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.vector-icon96,
.vector-icon97,
.vector-icon98,
.vector-icon99 {
  height: 0.7%;
  width: 6.59%;
  top: 63.03%;
  right: 33.41%;
  bottom: 36.27%;
  left: 60%;
}
.vector-icon97,
.vector-icon98,
.vector-icon99 {
  height: 0.73%;
  width: 6.31%;
  top: 62.13%;
  right: 33.81%;
  bottom: 37.13%;
  left: 59.88%;
}
.vector-icon98,
.vector-icon99 {
  height: 0.8%;
  width: 6.06%;
  top: 61.27%;
  right: 34.06%;
  bottom: 37.93%;
}
.vector-icon99 {
  height: 0.77%;
  width: 5.81%;
  top: 60.47%;
  right: 34.44%;
  bottom: 38.77%;
  left: 59.75%;
}
.vector-icon100,
.vector-icon101,
.vector-icon102,
.vector-icon103,
.vector-icon104,
.vector-icon105 {
  position: absolute;
  height: 0.57%;
  width: 5.69%;
  top: 59.8%;
  right: 34.88%;
  bottom: 39.63%;
  left: 59.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.vector-icon101,
.vector-icon102,
.vector-icon103,
.vector-icon104,
.vector-icon105 {
  height: 0.6%;
  width: 5.5%;
  top: 59.1%;
  right: 35.25%;
  bottom: 40.3%;
  left: 59.25%;
}
.vector-icon102,
.vector-icon103,
.vector-icon104,
.vector-icon105 {
  height: 0.7%;
  width: 5.34%;
  top: 58.43%;
  right: 35.56%;
  bottom: 40.87%;
  left: 59.09%;
}
.vector-icon103,
.vector-icon104,
.vector-icon105 {
  height: 0.63%;
  width: 5.28%;
  top: 57.73%;
  right: 35.81%;
  bottom: 41.63%;
  left: 58.91%;
}
.vector-icon104,
.vector-icon105 {
  height: 0.67%;
  width: 5.03%;
  top: 57.07%;
  right: 36.28%;
  bottom: 42.27%;
  left: 58.69%;
}
.vector-icon105 {
  height: 0.57%;
  width: 5%;
  top: 56.47%;
  right: 36.53%;
  bottom: 42.97%;
  left: 58.47%;
}
.vector-icon106,
.vector-icon107,
.vector-icon108,
.vector-icon109,
.vector-icon110 {
  position: absolute;
  height: 8.53%;
  width: 5.09%;
  top: 46.93%;
  right: 37.47%;
  bottom: 44.53%;
  left: 57.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon107,
.vector-icon108,
.vector-icon109,
.vector-icon110 {
  height: 6.13%;
  width: 8%;
  top: 59.4%;
  right: 46.84%;
  bottom: 34.47%;
  left: 45.16%;
}
.vector-icon108,
.vector-icon109,
.vector-icon110 {
  height: 6.77%;
  width: 2.84%;
  top: 36.27%;
  right: 40.12%;
  bottom: 56.97%;
  left: 57.03%;
}
.vector-icon109,
.vector-icon110 {
  height: 9.97%;
  width: 3.25%;
  top: 55.37%;
  right: 39.78%;
  bottom: 34.67%;
  left: 56.97%;
}
.vector-icon110 {
  height: 1.4%;
  width: 89.25%;
  top: 64.7%;
  right: 0;
  bottom: 33.9%;
  left: 10.75%;
  object-fit: contain;
}
.c-191-icon,
.group-icon4,
.group-icon5,
.vector-icon111 {
  position: absolute;
  height: 8.57%;
  width: 8%;
  top: 26.33%;
  right: 55.44%;
  bottom: 65.1%;
  left: 36.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.c-191-icon,
.group-icon5,
.vector-icon111 {
  height: 6.23%;
  width: 13.34%;
  top: 33.77%;
  right: 53.44%;
  bottom: 60%;
  left: 33.22%;
}
.group-icon5,
.vector-icon111 {
  height: 20.77%;
  width: 11%;
  top: 18.23%;
  right: 61.72%;
  bottom: 61%;
  left: 27.28%;
}
.group-icon5 {
  height: 29.63%;
  width: 89.81%;
  top: 70.37%;
  right: 10.19%;
  bottom: 0;
  left: 0;
}
.undraw-buy-house-re-8xq7-1 {
  position: absolute;
  top: 180px;
  left: 20px;
  width: 320px;
  height: 300px;
  overflow: hidden;
}
.welcome-to {
  margin: 0;
  font-weight: 500;
}
.bull-kost1 {
  line-height: 100%;
}
.bull-kost {
  margin: 0;
  font-size: 50px;
  color: var(--blue);
}
.welcome-to-bull-container {
  position: absolute;
  top: 64px;
  left: 20px;
  text-align: left;
  font-size: 25px;
  color: var(--black);
  font-family: var(--font-poppins);
}
.discover-your-ideal {
  position: absolute;
  top: 510px;
  left: calc(50% - 131px);
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 262px;
  height: 66px;
}
.are-you-a {
  position: relative;
  font-size: var(--headline-h5-size);
  font-family: var(--font-poppins);
  color: var(--reg);
  text-align: left;
}
.are-you-a-user-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-xl);
  background-color: var(--grey);
  position: absolute;
  top: 659px;
  left: 22px;
  border-radius: var(--br-3xs);
  width: 320px;
  height: 58px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.are-you-an {
  position: relative;
  font-size: var(--headline-h5-size);
  font-family: var(--font-poppins);
  color: var(--white);
  text-align: left;
}
.are-you-an-owner-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-xl);
  background-color: var(--blue);
  position: absolute;
  top: 726px;
  left: 22px;
  border-radius: var(--br-3xs);
  width: 320px;
  height: 58px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.get-started {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 360px;
  height: 800px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--black);
  font-family: var(--font-poppins);
}
.get-started-parent {
  position: relative;
  width: 100%;
  height: 800px;
}
