.group-child6 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: #bef0cb;
  width: 172px;
  height: 50px;
}
.vector-icon1 {
  position: absolute;
  width: 13.95%;
  top: calc(50% - 12px);
  right: 79.07%;
  left: 6.98%;
  max-width: 100%;
  overflow: hidden;
  height: 24px;
}
.bookmarked {
  position: absolute;
  top: calc(50% - 8px);
  left: 46px;
  line-height: 100%;
  font-weight: 500;
}
.rectangle-parent4 {
  position: relative;
  width: 172px;
  height: 50px;
}
.bookmark {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--reg);
  font-family: var(--font-poppins);
}
