.card-header3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 77px;
  overflow: hidden;
}
.luntiang-tahanan,
.php-2500month1 {
  position: absolute;
  left: 9px;
  letter-spacing: 0.5px;
  line-height: 23px;
}
.luntiang-tahanan {
  top: 5px;
  display: inline-block;
  width: 270px;
}
.php-2500month1 {
  top: 35px;
  font-size: var(--headline-h5-size);
  color: var(--muted-color);
}
.card-footer3 {
  top: 294px;
  left: 0;
  height: 73px;
  overflow: hidden;
}
.card-footer3,
.card4,
.image-5-icon3 {
  position: absolute;
  width: 320px;
}
.image-5-icon3 {
  top: 87px;
  left: -1px;
  height: 207px;
  object-fit: cover;
}
.card4 {
  top: 151px;
  left: 21px;
  border-radius: var(--br-xl);
  background-color: var(--white);
  height: 367px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--reg);
  font-family: var(--font-poppins);
}
